main{
  border: 10px solid black;
  background-image: url("../Pictures/1.jpeg");
  height: 700px;
  width: 99%;
  color: white;
  div{
    text-align: center;
    font-size: 30px;
    padding: 10px;

  }
}

nav{
  display: block;
  width:550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: rgb(206, 35, 22);
}
.border{
  background: linear-gradient(to bottom left, #36c5f1, #36f13f);
  text-decoration: none; 
  border: 3px solid rgba(0, 0, 0, 0.2);
  margin:10px;
}
